<table class="table table-bordered">
    <thead>
        <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of options.products|sortPipe: 'name': options.direction| searchPipe: ['name']: options.searchToken">
        <td><img src=" {{product.imageUrl}}" width="30" height="30">
            </td>
            <td>{{product.name}}</td>
            <td>${{product.price}}</td>
            <td>
                <button class="btn btn-default" (click)="reportAddToShoppingCart(product)">
                    <i class="	glyphicon glyphicon-shopping-cart"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>