<div class="row">
    <div class="col-md-3">
        Layout:
        <button class="btn btn-default" routerLink="product-list-layout" routerLinkActive="active">
            <i class="glyphicon glyphicon-th-list"></i>
        </button>
        <button class="btn btn-default" routerLink="product-tile-layout" routerLinkActive="active">
            <i class="glyphicon glyphicon-th-large"></i>
        </button>
    </div>
    <div class="col-md-3">
        Sort:
        <button class="btn btn-default">
            <i class="glyphicon glyphicon-sort-by-alphabet"></i>
        </button>
        <button class="btn btn-default">
            <i class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
        </button>
    </div>
    <div class="col-md-3">
        <input placeholder="search">
    </div>
    <div class="col-md-3">
        <button class="btn btn-default" routerLink="/shopping-cart" >
            <i class="glyphicon glyphicon-shopping-cart"></i>
        </button>
    </div>
</div>